{% extends 'base.html.twig' %}

{% block title %}Evaluation{% endblock %}

{% block body %}
    <h1>Evaluation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evaluation.id }}</td>
            </tr>
            <tr>
                <th>Discipline</th>
                <td>{{ evaluation.discipline }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ evaluation.note }}</td>
            </tr>
            <tr>
                <th>DateEvaluation</th>
                <td>{{ evaluation.dateEvaluation ? evaluation.dateEvaluation|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('baba_index') }}">back to list</a>

    <a href="{{ path('baba_edit', {'id': evaluation.id}) }}">edit</a>

    {{ include('baba/_delete_form.html.twig') }}
{% endblock %}
